---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page not found - Sjoerd Koelewijn" bodyClass="error-404">
  <div class="inner-wrap">
    <h1>Page not found</h1>
  </div>
</Layout>
